body {
  margin: 0;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ECEFF1;
}

.business-card {
  background-color: white;
  margin: 40px auto;
  padding: 40px;
  border-radius: 8px;
  width: 80%;
  text-align: center;
  box-shadow: 0 16px 32px -16px #B0BEC5;
}

.image {
  border-radius: inherit;
  width: 100%;
}

h2 .name {
  margin-top: 8px;
  font-weight: 900;
  color: #4CAF50;
}

.information {
  list-style: none;
  margin: 16px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #455A64;
}

@media only screen and (min-width: 800px) {
  .business-card {
    width: 85%;
  }
}